.shapeslist__container {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  flex: 1;
  background: lighten(grey, 40%);
  color: lighten(black, 0%);
  overflow: hidden;
  position: relative;
  ul {
    overflow: scroll;
    height: 100%;
    li {
      font-size: 13px;
      cursor: default;
      padding: 10px;
      &:hover {
        background: lighten(grey, 50%);
      }
    }
  }
}

.shapescontrols__container {
  h2 {
    font-weight: 400;
    font-size: 13px;
    margin: 20px 10px;
    span {
      font-weight: 600;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .shapescontrols__inputContainerHeader {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
  .shapescontrols__fieldset {
    margin: 5px 10px;
    width: 200px;
    label {
      margin-bottom: 4px;
      color: gray;
      font-size: 12px;
      display: block;
      left: 2px;
      position: relative;
    }
    input {
      width: 100%;
      padding: 6px;
      margin-bottom: 5px;
      border: 1px solid rgb(212, 212, 212);
      &:focus {
        outline: 0px;
        border-color: darken(rgb(48, 194, 255), 10%);
      } 
    }
  }
}